.squares {
    height: 40px;
    width: 40px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 400px;
    border: 1px solid black;
    height: 640px;
    width: 640px;
}

button {
    margin-left: 680px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 5px 15px;
    background-color: blue;
    color: white;
}